$theme: var(--bs-blue);

.blue {
    #search .search-form .search-form-group,
    .pokeball,
    .pokeball__inner-circle,
    .pokeball__line,
    .list-card,
    .list-card-types li
    {
        border-color: $theme !important;
    }

    .pokeball__inner-circle,
    .pokemon-data-container .badge
    {
        background: $theme !important;
    }

    .list-card-types li{
        color: $theme !important;
    }

}